body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(86, 85, 85);
    height: 100vh;
    
}

h1{
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -100px;
}

.container{
    width: 300px;
    height: 500px;
    background-color: beige;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    border-radius: 25px;
}

#inp{
    width: 250px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 30px;
    /* text-align: center; */
    
} 
.calci{
    margin:25px auto;
    margin-left: 15px;
}
input{
    width: 60px;
    height: 60px;
    margin: 2px;
    background-color: rgb(67, 66, 66);
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.equal{
    /* width: 105px; */
    border-radius: 50%;
    background-color: orangered;

}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

